.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.global {
  margin: 100px 100px;
  background-color: slategrey;
  padding: 20px;
  height: 400px;
}

div {
  height: 100px;
  width: 200px;
}

.div1 {
  background-color: aqua;
}
.div2 {
  background-color: bisque;
}
.div3 {
  background-color: teal;
  padding: 5px;
}
.div4 {
  background-color: violet;
}
.div5 {
  background-color: yellow;
}
